@model  UniversityManagementSoftware.Models.RegisterStudent
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Model.RegstrationNo</li>
    <li>@Model.StudentName</li>
    <li>@Model.StudentContactNo</li>
    <li>@Model.StudentEmail</li>
    <li>@Model.Date</li>
    <li>@Model.Address</li>
    <li>@Model.DepartmentName</li>

</ul>

