@model UniversityManagementSoftware.Models.Course

@{
    ViewBag.Title = "Crate";
}

<h2>Crate</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseCode)
                @Html.ValidationMessageFor(model => model.CourseCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName)
                @Html.ValidationMessageFor(model => model.CourseName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit)
                @Html.ValidationMessageFor(model => model.Credit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Department</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Semester</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.SemesterName, new SelectList(ViewBag.Semester, "Value", "Text"), "Select Semester", new { @class = "" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
